!/.gitignore
/.gradle/
.classpath
.scannerwork
.project
.settings/
.gradle/
gradle
buildSrc/.gradle/
buildSrc/build/
lib/
serenity.properties
browser-chrome.properties
target/
build/
/out/
.idea/
gradlew
debug.log
